$bg-body: rgba(250, 250, 250, 1);
$bg-feature-card: rgba(255, 255, 255, 1);
$clr-headings: rgba(76, 78, 97, 1);
$clr-font: rgba(163, 165, 174, 1);
$clr-font-2: rgba(255, 255, 255, 1);
$font-family: 'Poppins', sans-serif;
$cards-line-bg: (
    "supervisor": rgb(69, 211, 211),
    "team_builder": rgb(234, 83, 83),
    "karma": rgb(252, 175, 74),
    "calculator": rgb(84, 158, 242)
);